.player-rating {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-title {
    font-weight: 500;
    /* font-medium */
    margin: 0;
}

.stars {
    display: flex;
    gap: 4px;
}

.star-btn {
    padding: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.star-btn svg {
    width: 22px;
    height: 22px;
    fill: #4b5563;
    transition: fill 0.2s ease, transform 0.2s ease;

}

.star-btn.active svg,
.star-btn:hover svg {
    fill: #facc15;
    transform: scale(1.2);
}


.star-btn .hover-text {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background: #111;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
}

.star-btn:hover .hover-text {
    display: block;
}

.rating-text {
    font-size: 12px;
    /* text-xs */
    text-align: right;
    color: #9ca3af;
    /* gray-400 */
}